* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
 header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
 }

main {
    position: relative;
    background-color: rgba(255, 255, 255, 0.568) ;
    max-width: 200px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    left: 50%;
    top: 50%;
    transform: translate(-100%, 0%);
}

footer {
    text-align: center;
    margin-top: 300px;
}