@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./imagens/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}
 header {
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 2px 2px 0px black;
    background-color: rgba(0, 0, 0, 0.351);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.7em;
 }

.p1 {
    background-color: rgba(0, 0, 0, 0.50);
    padding: 5px 0px 5px 10px;
    max-width: 100%;
    color: rgb(255, 255, 255);
}

main {
    position: relative;
    background-color: rgba(255, 255, 255, 0.261) ;
    max-width: 200px;
    font-size: 1.3em;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 18px;
}

.fim, .passo {
    margin-top: 10px;
}

.sequencia {
    color: rgb(0, 0, 0);
    display: inline-block;
    max-width: 240px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1em;
    line-height: 20px;
    box-shadow: 2px 2px 10px black;
    background-color: rgba(255, 255, 255, 0.7) ;
    
}

footer {
    margin-top: 200px;
    text-align: center;

}
