body{
    background-color: rgb(97, 206, 87);
    font: normal 15pt arial;
}

header {
    background-color: azure;
    text-align: center;
    border-radius: 10px;
    width: 500px;
    margin: auto;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.402);
    line-height: 35px;

}

div{
    

}

footer{
    text-align: center;

}


